<div class="container" [ngSwitch]="dataLoadingStatus">
  <div class="row py-3" *ngSwitchCase="LOADING_STATUS.LOADED">
    <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="float-left">{{display.title | uppercase}}</h3>
              <div class="float-right">
                <div class="dropdown dropleft" style="position: absolute; top: 10px; right: 10px;">
                  <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                    <fa-icon [icon]="faEllipsisV"></fa-icon></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="'/display/edit/' + key">Modifier</a>
                    <a class="dropdown-item" (click)="$event.preventDefault(); deleteDisplay(key)" href="#">Supprimer</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div *ngFor="let item of display.body">
                <div *ngIf="item.type === 'html' || item.type ==='css' || item.type ==='scss'|| item.type === 'js' || item.type ==='json'">
                  <pre class="language-markup line-numbers"><code class="language-{{item.type}}" (click)="this.prismService.highlightAll()">{{item.content}}</code></pre>
                </div>
                <h3 *ngIf="item.type == 'title'" [innerHtml]="item.content" style="white-space: pre-line"></h3>
                <p *ngIf="item.type == 'text'" [innerHtml]="item.content" style="white-space: pre-line"></p>
              </div>
            </div>
          </div>
    </div>
  </div>
  <div class="col-12 h-100 w-100 d-flex justify-content-center align-items-center">
    <div *ngSwitchCase="LOADING_STATUS.LOADING" style="width: 6rem; height: 6rem;"
         class="spinner-border align-self-center text-success" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
