<div class="wrapper">
  <div class="sidebar">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-block" (click)="addField('text')"><fa-icon [icon]="faPlus"></fa-icon> Titre</button>
      <button class="btn btn-primary btn-block" (click)="addField('number')"><fa-icon [icon]="faPlus"></fa-icon> Number</button>
      <button class="btn btn-primary btn-block" (click)="addField('textarea')"><fa-icon [icon]="faPlus"></fa-icon> Texte</button>
      <button class="btn btn-primary btn-block" (click)="addField('code')"><fa-icon [icon]="faPlus"></fa-icon> Code</button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row py-3">
      <div class="col-6">
        <form [formGroup]="displayForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">
              Titre
            </label>
            <input type="text" id="title" class="form-control" formControlName="title">
          </div>

          <div id="content" class="form-group" formArrayName="body">
            <div class="form-group" *ngFor="let field of displayForm.get('body').controls;index as i">
              <input type="{{field.value.type}}" class="form-control">
            </div>
          </div>
          <button class="btn btn-success">Enregistrer</button>
        </form>
      </div>

    </div>
  </div>

</div>
