<div class="card my-2 snippet">
  <div class="card-body">

    <div class="badge badge-secondary ml-1" *ngFor="let badge of categoryNames | keyvalue">
      <ng-container *ngIf="snippet.value.categories.includes(badge.key)">
        {{badge.value.name}}
      </ng-container>
    </div>
    <h3 class="card-title">
      {{snippet.value.title}}
    </h3>
    <div class="dropdown" style="position: absolute; top: 10px; right: 10px;">
      <button class="btn btn-link" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <fa-icon [icon]="faEllipsisV"></fa-icon>

      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item "  (click)="onModify()" [routerLink]="['edit',snippet.key]">Modifier</a>
        <a class="dropdown-item" (click)="$event.preventDefault(); onDelete(snippet.key)" href="#">Supprimer</a>
        <a class="dropdown-item " [routerLink]="[snippet.value.sanitizeTitle]">View</a>
      </div>
    </div>

  </div>
</div>


