<div class="card my-2 snippet">
  <div class="card-body">

    <div class="badge badge-secondary ml-1" *ngFor="let badge of categoryNames | keyvalue">
      <ng-container *ngIf="snippet.value.categories.includes(badge.key)">
        {{badge.value.name}}
      </ng-container>
    </div>
    <h3 class="card-title">
      {{snippet.value.title}}
    </h3>
    <!--    <div *ngIf="snippetBody && snippetBody.length > 0">-->
    <!--      <div class="my-3" *ngFor="let object of snippetBody; index as id;">-->
    <!--        <div *ngIf="object.type !== 'html' && object.type !=='css' && object.type !=='scss'  && object.type !== 'js'">-->
    <!--          {{object.content}}-->
    <!--        </div>-->
    <!--        <pre class="language-markup line-numbers" *ngIf="object.type === 'html' || object.type ==='css' || object.type ==='scss'  || object.type === 'js'"><code class="language-{{object.type}}" >{{object.content}}</code></pre>-->
    <!--      </div>-->
    <!--    </div>-->
    <button class=" btn btn-success btn-sm mr-2" (click)="onModify()" routerLinkActive="active"
            [routerLink]="['edit',snippet.key]">Modifier
    </button>
    <button class=" btn btn-danger btn-sm mr-2" (click)="onDelete(snippet.key)">Supprimer</button>
    <button class=" btn btn-warning btn-sm " [routerLink]="[snippet.value.sanitizeTitle]">View</button>
  </div>
</div>


