label{
  text-transform: capitalize;
}
ng-select{
  flex: 1;
}

.delete_body_content{
  width: 100px;
  text-align: center !important;

}

.form-group{
  display: flex;
  flex-direction: column;
}
.dropdown-menu.show{
  left: -124px !important;
}
