label{
  text-transform: capitalize;
}
.card{
  overflow: hidden;
  overflow-y: visible;

  padding: 5px;
}
.snippet{
  max-height: 450px;
}
.delete_body_content{
  width: 100px;
  text-align: center !important;

}
.form-control{

}
.form-group{
  display: flex;
  flex-direction: column;
}
