<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="container-fluid">
    <div class="row py-3">
      <div class="col-12">
        <div class="tab-content" id="content">
          <div *ngFor="let menu of menus | keyvalue" class="tab-pane fade show active wysiwyg"
               [attr.id]="menu.value.sanitizeTitle" role="tabpanel"
               [attr.aria-labelledby]="menu.value.sanitizeTitle+'-tab'"
               [ngClass]="{ 'active': activeTab === menu.value.sanitizeTitle }">

            <div class="card">
              <div class="card-header">
                <h3 class="pull-left">{{menu.value.title | uppercase}}</h3>
                <div class="pull-right">
                  <a class="btn btn-danger" (click)="deleteDisplay(menu.key)">Supprimer</a>
                  <button class="btn btn-info" [routerLink]="'/display/'+menu.key">Modifer</button>
                </div>
              </div>
              <div class="card-body">

                <div *ngFor="let item of menu.value.body">
                  <div
                    *ngIf="item.type  === 'html' || item.type ==='css' || item.type ==='scss'  || item.type === 'js'">
              <pre class="language-markup line-numbers"><code class="language-{{item.type}}"
                                                              (click)="this.prismService.highlightAll()">{{item.content}}</code></pre>
                  </div>

                  <p  *ngIf="item.type !== 'html' && item.type !=='css' && item.type !=='scss'  && item.type !== 'js'">{{item.content}}</p>

                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
