
<div class="card my-2">
  <div class="card-body">
    <div class="badge badge-secondary ml-1" *ngFor="let badge of categoryNames">{{badge}}</div>
    <h3 class="card-title">
      {{snippetTitle}}
    </h3>
    <div *ngIf="snippetBody && snippetBody.length > 0">
      <div class="my-3" *ngFor="let object of snippetBody; index as id;">
        <div *ngIf="object.type !=='code'">
          {{object.content}}
        </div>
        <pre class="line-numbers" *ngIf="object.type ==='code'" >
          <code class="language-ts">
                {{object.content}}
          </code>
        </pre>
      </div>

    </div>
    <button class=" btn btn-success btn-sm mr-2" (click)="onModify(snippetId)" routerLinkActive="active"
            [routerLink]="[snippetId , sanitizeTitle]">Modifier
    </button>
    <button class=" btn btn-danger btn-sm" (click)="onDelete(snippetId)">Supprimer</button>

  </div>
</div>


