<div class="wrapper">
  <app-snippet-sidebar (idEvent)="receiveId($event)"></app-snippet-sidebar>
  <div class="container-fluid" style="overflow-y: auto;">
    <div class="row py-2">
      <ng-container *ngFor="let snippet of snippets | keyvalue">
        <div class="col-3 w-100" *ngIf="!category || snippet.value.categories.includes(category.value.sanitizeTitle)">
          <app-snippet-card [snippet]="snippet"></app-snippet-card>
        </div>
      </ng-container>
    </div>
  </div>
</div>



