<div class="wrapper">
  <app-snippet-sidebar (idEvent)="receiveId($event)"></app-snippet-sidebar>
  <div class="container-fluid" [ngSwitch]="dataLoadingStatus" style="overflow-y: auto;">
    <div class="row py-2">
      <ng-container *ngSwitchCase="LOADING_STATUS.LOADED">
        <ng-container *ngFor="let snippet of snippets | keyvalue">
          <div class=" col-lg-6 col-xl-3 w-100" *ngIf="!category || snippet.value.categories.includes(category.value.sanitizeTitle)">
            <app-snippet-card [snippet]="snippet"></app-snippet-card>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="col-12 h-100 w-100 d-flex justify-content-center align-items-center">
      <div *ngSwitchCase="LOADING_STATUS.LOADING" style="width: 6rem; height: 6rem;"
           class="spinner-border align-self-center text-success" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>



