<div class="wrapper">
  <div class="sidebar" style="height: 100vh;">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-block" (click)="addField('title')"> Titre</button>
      <button class="btn btn-primary btn-block" (click)="addField('text')"> Texte</button>
      <button class="btn btn-primary btn-block" (click)="addField('html')"> HTML</button>
      <button class="btn btn-primary btn-block" (click)="addField('css')"> CSS</button>
      <button class="btn btn-primary btn-block" (click)="addField('scss')"> SCSS</button>
      <button class="btn btn-primary btn-block" (click)="addField('js')"> JS</button>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row py-3">

      <div class="col-6 mt-2">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="snippetForm" (ngSubmit)="onSubmit(snippetIndex)">
              <div class="form-group">
                <label for="title">
                  Titre :
                </label>
                <input type="text" id="title" class="form-control" formControlName="title">
              </div>

              <label for="categoryId">Catégories :</label>
              <div class="input-group mb-2">
                <ng-select
                  multiple="true"
                  id="categoryId"
                  formControlName="categoriesArray">
                  <ng-option *ngFor="let category of categories | keyvalue;" [value]="category.value.sanitizeTitle">
                    {{category.value.title}}
                  </ng-option>
                </ng-select>

                <div class="input-group-append">
                  <button class="btn btn-warning " type="button" id="categoryForm"
                          [ngClass]="{'showCategoryFrom': this.categoryClicked }"
                          (click)="this.categoryClicked = !this.categoryClicked">+
                  </button>
                </div>
              </div>

              <form [formGroup]="categoryForm" *ngIf="categoryClicked" class="input-group mb-2" >
                <input placeholder="Catégorie..." class="form-control " type="text"
                       formControlName="categoryTitle" name="categoryTitle" id="categoryTitle">
                <div class="input-group-append">
                  <button class="btn btn-info" type="submit" (click)="onSubmitCategory() ;this.categoryClicked = false;">
                    Enregistrer
                  </button>
                </div>
              </form>

              <div id="content" class="form-group" formArrayName="body">
                <div class="form-group d-flex flex-column" [formGroupName]="i"
                     *ngFor="let field of snippetForm.controls.body.controls ;index as i;">

                  <div [ngSwitch]="field.value.type">
                    <label [attr.for]="field.value.type">
                      {{field.value.type === 'text' ? field.value.type + 'e' : field.value.type}}:
                    </label>
                    <button class="btn btn-danger float-right" (click)="removeBodyContent(i)">
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                    <angular-editor formControlName="content" [config]="editorConfig"  *ngSwitchCase="'text'"></angular-editor>
<!--                    <textarea autosize class="form-control" *ngSwitchCase="'text'" name="content"-->
<!--                              formControlName="content"></textarea>-->

                    <textarea autosize class="form-control" *ngSwitchDefault name="content"
                              formControlName="content"></textarea>

                  </div>
                </div>
              </div>

              <button class="btn btn-success float-right" type="submit">Enregistrer</button>
            </form>
          </div>
        </div>
      </div>

      <div class="mt-2 col-6">

        <div class="card">
          <div class="card-body">
            <h1>{{snippetForm.value.title}}</h1>
            <div *ngFor="let body of snippetForm.value.body;">
              <div *ngIf="body.type !== 'html' && body.type !=='css' && body.type !=='scss'  && body.type !== 'js'">
                {{body.content}}
              </div>
              <div *ngIf="body.type  === 'html' || body.type ==='css' || body.type ==='scss'  || body.type === 'js'">
              <pre class="language-markup line-numbers"><code class="language-{{body.type}}" (click)="this.prismService.highlightAll()">{{body.content}}</code></pre>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>




