<div class="wrapper">
  <div class="sidebar">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-block" (click)="addField('title')"> Titre</button>
      <button class="btn btn-primary btn-block" (click)="addField('number')"> Number</button>
      <button class="btn btn-primary btn-block" (click)="addField('text')"> Texte</button>
      <button class="btn btn-primary btn-block" (click)="addField('code')"> Code</button>
    </div>
  </div>

<div>{{this.fieldType}}</div>
  <div class="container-fluid">
    <div class="row py-3">
      <div class="col-6">
        <form [formGroup]="snippetForm" (ngSubmit)="onSubmit(snippetIndex)">
          <div class="form-group">
            <label for="title">
              Titre
            </label>
            <input type="text" id="title" class="form-control" formControlName="title">
          </div>

          <div id="content" class="form-group" formArrayName="body">
            <div class="form-group" [formGroupName]="i" *ngFor="let field of snippetForm.controls.body.controls ;index as i">
              <div [ngSwitch]="field.value.type">

                <label  [attr.for]="fieldType">{{this.fieldType === 'code'? 'code' :  'text' }}</label>
                <textarea class="form-control"  id="text" *ngSwitchCase="'text'" name="content" cols="30" rows="10" formControlName="content"></textarea>
                <textarea class="form-control"  id="code" *ngSwitchCase="'code'" name="content" cols="30" rows="10" formControlName="content"></textarea>
                <input *ngSwitchDefault type="{{field.value.type}}" class="form-control" formControlName="content">
              </div>
            </div>
          </div>

              <ng-select  multiple="true"
                          class="browser-default mb-3 "
                          id="categoryId"
                          placeholder="Select categories"
                          formControlName="categoriesArray">

                <div class="rounded border border-primary">+</div>
            <ng-option  [value]="category.value.name" *ngFor="let category of categories | keyvalue; ">{{category.value.name}}

         </ng-option>

          </ng-select>

<!--          <label for="category_title">-->
<!--            Titre-->
<!--          </label>-->
<!--          <div class="list_container rounded border border-primary col-12 w-25" >+-->
<!--            <input class="hidden_input form-control" type="text" id="category_title">-->
<!--          </div>-->

          <div>
            {{categoriesArray}}
          </div>


          <button class="btn btn-success" (click)="onSubmit(key)">Enregistrer</button>
        </form>
      </div>
      <div class="col-6">
        <h1>{{snippetForm.value.title}}</h1>
        <div *ngFor="let content of snippetForm.value.body">
          <div *ngIf="content.type !=='code'">
           {{content.content}}
          </div>

          <div *ngIf="content.type ==='code'">
          <pre class="line-numbers"><code class="language-ts">
           {{content.content}}
          </code></pre>
          </div>

        </div>

      </div>
    </div>
  </div>

  </div>




