<div class="wrapper">
  <div class="sidebar">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-block" (click)="addField('title')"> Titre</button>
      <button class="btn btn-primary btn-block" (click)="addField('number')"> Number</button>
      <button class="btn btn-primary btn-block" (click)="addField('text')"> Texte</button>
      <button class="btn btn-primary btn-block" (click)="addField('code')"> Code</button>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row py-3">
      <div class="col-6">
        <form [formGroup]="snippetForm" (ngSubmit)="onSubmit(snippetIndex)">
          <div class="form-group">
            <div> INDEX : {{snippetIndex}}</div>
            <label for="title">
              Titre
            </label>
            <input type="text" id="title" class="form-control" formControlName="title">
          </div>

          <div id="content" class="form-group" formArrayName="body">
            <div class="form-group" [formGroupName]="i" *ngFor="let field of snippetForm.controls.body.controls ;index as i">
              <div [ngSwitch]="field.value.type">
                <textarea class="form-control" *ngSwitchCase="'text'" name="content" cols="30" rows="10" formControlName="content"></textarea>
                <textarea class="form-control" *ngSwitchCase="'code'" name="content" cols="30" rows="10" formControlName="content"></textarea>
                <input *ngSwitchDefault type="{{field.value.type}}" class="form-control" formControlName="content">
              </div>
            </div>
          </div>

          <select class="browser-default custom-select mb-3" formControlName="categoryId" id="categoryId">
            <option [value]="category.key" *ngFor="let category of categories | keyvalue; ">{{category.value.name}}</option>
          </select>


          <button class="btn btn-success" (click)="onSubmit(key)">Enregistrer</button>
        </form>
      </div>
      <div class="col-6">
        <h1>{{snippetForm.value.title}}</h1>
        <div *ngFor="let content of snippetForm.value.body">
          <div *ngIf="content.type !=='code'">
           {{content.content}}
          </div>

          <div *ngIf="content.type ==='code'">
          <pre class="line-numbers"><code class="language-ts">
           {{content.content}}
          </code></pre>
          </div>

        </div>

      </div>
    </div>
  </div>

  </div>




