<div class="wrapper">
  <div class="sidebar">
    <div class="col-12 text-right">
      <button class="btn btn-primary btn-block" (click)="addField('title')"> Titre</button>
      <button class="btn btn-primary btn-block" (click)="addField('number')"> Number</button>
      <button class="btn btn-primary btn-block" (click)="addField('text')"> Texte</button>
      <button class="btn btn-primary btn-block" (click)="addField('code')"> Code</button>
    </div>
  </div>

  <div>{{this.fieldType}}</div>
  <div class="container-fluid">
    <div class="row py-3">
      <div class="col-6">
        <form [formGroup]="snippetForm" (ngSubmit)="onSubmit(snippetIndex)">
          <div class="form-group">
            <label for="title">
              Titre
            </label>
            <input type="text" id="title" class="form-control" formControlName="title">
          </div>

          <div id="content" class="form-group" formArrayName="body">
            <div class="form-group" [formGroupName]="i"
                 *ngFor="let field of snippetForm.controls.body.controls ;index as i">
              <div [ngSwitch]="field.value.type">
                <label [attr.for]="field.value.type">{{field.value.type}}</label>
                <textarea class="form-control" id="text" *ngSwitchCase="'text'" name="content" cols="30" rows="10"
                          formControlName="content"></textarea>
                <textarea class="form-control" id="code" *ngSwitchCase="'code'" name="content" cols="30" rows="10"
                          formControlName="content"></textarea>
                <input *ngSwitchDefault type="{{field.value.type}}" class="form-control" formControlName="content">
              </div>
            </div>
          </div>

          <ng-select
            multiple="true"
            class="browser-default mb-3 position-relative"
            id="categoryId"
            [(ngModel)]="badges"
            formControlName="categoriesArray"
            (click)="updateCat()"
          >

            <ng-option [value]="category.value.name"
                       *ngFor="let category of categories | keyvalue; ">{{category.value.name}}
            </ng-option>

          </ng-select>
          <div>
            <div class="hidden_input btn btn-warning mb-2" id="categoryForm"
                 [ngClass]="{'showCategoryFrom': this.categoryClicked }"
                 (click)="!this.categoryClicked ? showCategoryForm() : this.categoryClicked = false">Ajouter une
              catégorie
            </div>
            <div class="d-flex"></div>
            <div *ngIf="this.categoryClicked" class="hidden_text">
              <form [formGroup]="categoryForm">
                <input class="form-control w-25 mb-1" type="text"
                       formControlName="categoryName" name="categoryName" id="categoryName">
                <button class="btn btn-danger" (click)="this.categoryClicked = false ; onSubmitCategory()"> Enregistrer</button>
              </form>
            </div>
          </div>
          <button class="btn btn-success mt-5" (click)="onSubmit(key)">Enregistrer</button>

        </form>
      </div>
      <div class="col-6">
        <h1>{{snippetForm.value.title}}</h1>
        <div *ngFor="let content of snippetForm.value.body">
          <div *ngIf="content.type !=='code'">
            {{content.content}}
          </div>

          <div *ngIf="content.type ==='code'">
          <pre class="line-numbers"><code class="language-ts">
           {{content.content}}
          </code></pre>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>




